<div id="container">
    <div class="row align-items-center text-center vstack gap-1 card">

        <h2 id="card-title">{{_class?.name}}</h2>

        <table>
            <tr>
                <td class="col-3">
                    <div class="card">
                        <h5 class="card-title">ID</h5>
                        <div class="card-text">{{_class?.id}}</div>
                    </div>
                </td>
                <td class="col-3">
                    <div class="card">
                        <h5 class="card-title">Created</h5>
                        <div class="card-text">{{_class?.created}}</div>
                    </div>
                </td>
                <td class="col-3">
                    <div class="card">
                        <h5 class="card-title">Updated</h5>
                        <div class="card-text">{{_class?.updated}}</div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="card">
            <h5 id="card-title">Students</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Created</th>
                        <th scope="col">Updated</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let student of students">
                        <th scope="col">{{student.id}}</th>
                        <td>{{student.name}}</td>
                        <td>{{student.surname}}</td>
                        <td>{{student.birthDate}}</td>
                        <td>{{student.created}}</td>
                        <td>{{student.updated}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>