<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand">
            <div class="btn btn-primary" [routerLink]="['/']">
                <i class="bi bi-house"></i>
            </div> Gestionale
        </a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/class']" (click)="isMenuCollapsed = true">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/student']" (click)="isMenuCollapsed = true">Students</a>
                </li>
            </ul>
        </div>
    </div>
</nav>