<div id="container">
  <div class="row align-items-center text-center vstack gap-1 card">
    <h2 class="card-title">Editing {{_class?.name}}</h2>
    <div class="row">
      <div class="col-4"></div>
      <label for="name" class="col-1">Name:</label>
    <input class="col-2 text-center" type="text" [(ngModel)]="name">
    </div>
    

    <div class="card">
      <h5 id="card-title">Students</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let student of students" id="student.id">
            <th scope="col">{{student.id}}</th>
            <td>{{student.name}}</td>
            <td>{{student.surname}}</td>
            <td>{{student.birthDate}}</td>
            <td>{{student.created}}</td>
            <td>{{student.updated}}</td>
            <td><a class="btn btn-danger" (click)="removeStudent(student)">X</a></td>
          </tr>
        </tbody>
      </table>
      <div id="add-student-container" class="card" *ngIf="studentsNotInClass.length > 0">
        <div class="row">
          <div class="col-3"></div>
          <select [(ngModel)]="selectedStudent" name="students" id="select-student" class="col-4">
            <option *ngFor="let student of studentsNotInClass" [ngValue]="student">
              {{student.name}} {{student.surname}}</option>
          </select>
          <div class="col-1"></div>
          <div class="btn btn-success col-1" (click)="addStudent()">+</div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="col-4"></div>
        <div class="btn btn-success col-2" (click)="save()" [routerLink]="['/class']">SAVE</div>
        <div class="btn btn-danger col-2" [routerLink]="['/class']">CANCEL</div>
      </div>
    </div>
  </div>
</div>